<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROYECTO RETO</title>

    <!-- Estilos y fuentes del template  -->
       {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>




    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'login' %}">LOGIN</a>
        <a class="navbar-brand" href="#"> Bienvenido {% if user %} {{ request.user.username }}
            {{ user.rolusuario.rol }} {% endif %}    </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>

          {% if request.user.is_authenticated %}

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="navbar-brand" href="{% url 'logout' %}">LOGOUT</a>

            </li>

              {% for rolusuario in user.rolusuario_set.all %}
                {% if rolusuario.rol.nombre == "DOCENTE" %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Homeworks</a>
                  <div class="dropdown-menu">
                     <a class="nav-link "  href="{% url 'creartarea' %}">Ingreso de Tareas</a>
                     <a class="nav-link "  href="{% url 'mostrartareas' %}">Mostrar Tareas</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Schedule</a>
                <div class="dropdown-menu">

                    <a class="nav-link "  href="{% url 'mostrarhorario' %}">Mostrar Horario</a>
                    </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Quiz</a>
                <div class="dropdown-menu">
                    <a class="nav-link "  href="{% url 'crearpregunta' %}">Generar Preguntas</a>
                    <a class="nav-link "  href="{% url 'crear_respuesta' %}">Generar Respuestas</a>
                    <a class="nav-link "  href="{% url 'mostrar_respuestas' %}">BANCO DE PREGUNTAS</a>
                    </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Planning</a>
              <div class="dropdown-menu">
                    <a class="nav-link "  href="{% url 'crearplanificacion' %}">Ingreso de Planificaciones</a>
                    <a class="nav-link "  href="{% url 'mostrarplanificaciones' %}">Mostrar Planificaciones</a>
                    </div>

                {% endif %}

            {% if rolusuario.rol.nombre == "ADMINISTRADOR" %}


              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">ADMIN</a>
                <div class="dropdown-menu">
                    <a class="nav-link "  href="{% url 'crear_rol' %}">CREAR ROLES</a>
                    <a class="nav-link "  href="{% url 'mostrar_roles' %}">MOSTRAR ROLES</a>
                    <a class="nav-link "  href="{% url 'crear_rol_usuario' %}">INGRESAR USUARIO Y ROL</a>
                    <a class="nav-link "  href="{% url 'mostrar_roles_usuarios' %}">MOSTRAR USUARIOS Y ROLES</a>
                    <a class="nav-link "  href="{% url 'crearcurso' %}">INGRESAR CURSO</a>
                    <a class="nav-link "  href="{% url 'mostrarcursos' %}">MOSTRAR CURSOS</a>
                    <a class="nav-link "  href="{% url 'crearactividad' %}">INGRESAR TIPO DE ACTIVIDAD</a>
                    <a class="nav-link "  href="{% url 'mostraractividades' %}">MOSTRAR TIPO DE ACTIVIDADES</a>



                    <a class="nav-link "  href="{% url 'crearhorario' %}">INGRESAR HORARIO</a>
                     <a class="nav-link "  href="{% url 'mostrarhorario' %}">MOSTRAR HORARIO</a>


                    </div>
            </li>
                        {% endif %}
            {% endfor %}



          </ul>
        </div>
                  {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
      </div>
    </nav>


    <header class="masthead" style="background-image: url('{% block background %} {% endblock %} ')">

      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">

                {% block header %} {% endblock %}
            </div>
          </div>
        </div>
      </div>

    </header>
    {% block content %}   {% endblock %}
    <footer>

    </footer>

    <!-- Bootstrap y Javascripts -->
   {% load static %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/509347345b.js" crossorigin="anonymous"></script>

  </body>

</html>