<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>

</head>
<body>
<form method="POST" class="post-form" action=" /updatedocentes/{{docente.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Id:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ docente.id }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">NOMBRE:</label>
    <div class="col-sm-4">
        <input type="text" name="nombre" id="id_nombre" required maxlength="100" value="{{ docente.nombre }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">APELLIDO:</label>
    <div class="col-sm-4">
        <input type="text" name="apellido" id="id_apellido" required maxlength="254" value="{{ docente.apellido }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">EDAD:</label>
    <div class="col-sm-4">
        <input type="number" name="edad" id="id_edad" required maxlength="15" value="{{ docente.edad }}" />
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">SEXO:</label>
    <div class="col-sm-4">
        <input type="number" name="sexo" id="id_sexo" required maxlength="15" value="{{ docente.sexo }}" />
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">EMAIL:</label>
    <div class="col-sm-4">
        <input type="email" name="email" id="id_email" required maxlength="15" value="{{ docente.email }}" />
    </div>
  </div>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>