{% extends "base.html" %}

{% block background %}{% load static %}{% static 'img/home-bg.jpg' %}{% endblock %}


{% block content %}
 <div class="container">
        <div class="col-md-8" style="margin-top: 70px;">

            <h2> LISTA DE CURSOS </h2>

            <div class="table-responsive">
                <table class="table">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>DOCENTE</th>
        <th>AÑO</th>
        <th>PARALELO</th>
        <th>JORNADA</th>

    </tr>
    </thead>

    <tbody>
{% for c in curso %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.docente }}</td>
        <td>{{ c.anio }}</td>
        <td>{{ c.paralelo }}</td>
        <td>{{ c.jornada }}</td>

        <td>
            <td> <a href="{% url 'editarcursos' c.id %}">EDIT</a></td>
            <td> <a href="{% url 'eliminarcurso' c.id %}">DELETE</a></td>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

            </div>
<a href="{% url 'crearcurso' %}" class="btn btn-primary">Agregar un nuevo curso</a>
        </div>
    </div>

{% endblock %}
</body>
</html>