<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LISTA DE CURSOS</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>PREGUNTA</th>
        <th>RESPUESTA</th>
        <th>VALOR TRUE OR FALSE</th>
    </tr>
    </thead>
    <tbody>
{% for banco in banco %}
    <tr>
        <td>{{ banco.id }}</td>
        <td>{{ banco.id_pregunta }}</td>
        <td>{{ banco.descripcion }}</td>
        <td>{{ banco.estado_resp}}</td>

        <td>
            <a href="/edit/{{ banco.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ banco.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
</body>
</html>