<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Docentes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
</head>
<body>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>NOMBRE</td>
                <td>APELLIDO</td>
                <td>EDAD</td>
                <td>SEXO</td>
                <td>EMAIL</td>


            </tr>
        </thead>
        <tbody>
            {% for docente in docente %}
            <tr>
                <td>{{ docente.id }}</td>
                <td>{{ docente.nombre }}</td>
                <td>{{ docente.apellido }}</td>
                <td>{{ docente.edad }}</td>
                <td>{{ docente.sexo }}</td>
                <td>{{ docente.email }}</td>
                <td>
                    <a href="/editardocentes/{{ docente.id }}">Edit</a>
                    <a href="/deletedocentes/{{ docente.id }}">Delete</a>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>


    <a class="nav-link" href="{% url 'creardocente' %}">Crear Nuevo Docente</a>

</body>
</html>